<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./style'); %>
    <%- include('./script'); %>
    <link rel="icon" href="../public/assets/favicon/favicon.ico">
    <script type="text/javascript" src="../public/assets/script.js"></script>
    <title>Dashboard .1</title>
</head>
<body class ="dashboardbg">
    <div class="wrapper">
    <div class="header">
        <a href="register.html" target="_blank">Register</a>
        <a href="login.html" target="_blank">Login</a>
    </div>
        <div class="title"><h1>It’s time to dino-soar with D-Dash</h1></div>
        <button onclick="dropDown()" class="dropbtn"> <div class="dropdown"><h2>Open Dashboard</h2></button>
    </div>
</body>
</html>